:host {
  width: 100%;
  display: block;
}

a,
p {
  text-decoration: none;
  color: var(--textDarkGray);
}

.container {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.navigation {
  display: block;
  height: 200px;

  &-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &-language {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      &-icon {
        width: 30px;
        height: 30px;
      }
    }

    &-login {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }
  }

  &-links {
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &-logo {
      max-width: 200px;
    }
  }
}
