<div class="container">
  <nav class="navigation">
    <div class="navigation-options">
      <div class="navigation-options-language">
        <app-translate-selector></app-translate-selector>
      </div>

      <div class="navigation-options-login">
        <mat-icon class="navigation-options-login-picture"
          >account_circle</mat-icon
        >
        <p>Войти</p>
      </div>
    </div>
    <div class="navigation-links">
      <img
        class="navigation-links-logo"
        src="../../../../../assets/imgs/logo/logo.jpg"
        alt=""
      />
      <p>shop</p>
      <p>info</p>
      <p>gallery</p>
    </div>
  </nav>
</div>
