<div class="container">
  <h3 class="about">
    Overvest - известный брэнд одежды в СНГ, базирующийся в Святоангельске
    (СГСА) и ведущий свою деятельность с 2016 года (ex. stoxkholm). <br />
    <br />
    Overvest работал или работает с Fast Food Music, Saluki, RRHP, Haliky SPR,
    merch market, etc.<br />
    <br />Одежду Overvest можно увидеть на Bladee, IC3PEAK, Big Baby Tape, White
    Punk, Saluki, OFFMi, Lizer, вышел покурить, lildrughill, TELLY GRAVE, Loco
    OG Rocka, Bebe GT, etc. <br />
    <br />Практически единственный русский брэнд, подделываемый в Китае. <br />
    <br />So Shawty What's The Business?
  </h3>
  <h3 class="questions">
    По всем вопросам на почту: info@takeovervest.com
    <br />
    <br />
    Условия доставки и прочая информация доступна в Пользовательском Соглашении
    <br />
    <br />ИП Шарафутдинов Тимур Русланович <br />
    <br />ИНН: 027415463410 <br />
    ОГРНИП: 319028000164380
  </h3>
</div>
